<% layout("../views/layouts/boilerplate") %> 

<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h3>Error!!! Something seems wrong here..!</h3>
      <p>Its not you Its us ...</p>
      <p><%= err.message %> </p> 
    </div>
  </div>
</div>
